<div class="container mt-5 about" style="background-color: #707070;  color: white;padding-left: 10%; padding-right: 10%; border-radius: 10px;">
    <div class="mb-5" style="padding-left: 2%; padding-right: 2%;  padding-top: 7%; padding-bottom: 5%; font-size: 20px;">
      <h1 class="mt-10">About Me</h1>
      <p class="mt-4 ">Since November 2019 I have spent time learning things I never knew existed and then using the
         knowledge to build applications I  never imagined I could. I love writing code, and I 
         especially love writing code for the backend of software applications.  <br><br> Lately, 
         I have found my self itching to learn to write code for the frontend and then become 
         a fullstack developer. I come from a background in communications, and that makes me a 
         software developer who can effectively collaborate and develop better user focused programs.<br> 
         <br>Some of the exciting projects I have worked on include, a blog app that allows users write and
          manage their posts, an api that send  details of literature in Africa, a personal twitter bot
           that posts tweets relating to the endsars movement in Nigeria, and shopping app for caps and
            ofcourse this portfolio! One thing about me is I will learn!</p>
    </div>
  </div>