<div style="text-align: center;" class="mt-2">
    <h1 style="color: white;">Contact Me</h1>
    <div class="mt-4">
    <a href="https://github.com/Abim-Bola" class="card-link"><i class="fab fa-github-square contact" ></i></a>
    <a href="https://twitter.com/Abim__Bola" class="card-link"><i class="fab fa-twitter contact"></i></a>
    <a href="https://abimbola.herokuapp.com/" class="card-link" ><i class="fas fa-link contact"></i></a>
    <a href="https://www.linkedin.com/in/abimbola-bamgbelu-b24202159/" class="card-link" "><i class="fab fa-linkedin contact"></i></a>
  </div>
    
    
  <form class="text-center p-5"  action="/abimbola/contact" method="post">
    <input  type="text" id="defaultSubscriptionFormPassword" class="form-control mb-4" placeholder="NAME" name="name">
    <input   type="email" id="defaultSubscriptionFormEmail" class="form-control mb-4" placeholder="EMAIL" name="email">
    <input   type="text" id="defaultSubscriptionFormEmail" class="form-control mb-4" placeholder="SUBJECT" name="subject">
    <textarea  type="text" id="defaultSubscriptionFormEmail" class="form-control mb-4" placeholder="MESSAGE" rows="4" cols="50" name="message"></textarea>
    <button class="btn  btn-block" style="background-color: white; font-weight: 600;" type="submit">SEND MESSAGE</button>
  </form>  
   </div>