<div class="container-fluid" style="margin-top: 2px;">
    <img src="images/pic2.jpg" width="200px" height="200px" style=" border-radius: 50%"> 
   
    <h1 class="mt-3">Hello!</h1>
   
    <p style="font-weight: 600; font-size: 30px;">I'm  <span style="color: #ec524b;">Abimbola Bamgbelu.</span> <br> I'm a backend and aspiring fullstack developer</p>

  </div>

  <i class="far fa-circle first-circle" style="font-size: 20px;"></i>
    <i class="far fa-circle second-circle" style="font-size: 40px;"></i>
    <i class="far fa-circle third-circle" style="font-size: 30px;"></i>
    <i class="far fa-circle fourth-circle" style="font-size: 15px;"></i>
    <i class="far fa-circle fifth-circle" style="font-size: 10px;"></i>
    <i class="far fa-circle sixth-circle" style="font-size: 10px;"></i>


<div class="container mt-5" style="background-color: #707070;  color: white;padding-left: 10%; padding-right: 10%; border-radius: 10px;">
    <div class="mb-5" style="padding-left: 2%; padding-right: 2%;  padding-top: 7%; padding-bottom: 5%; font-size: 20px;">
      <h1 class="mt-10">About Me</h1>
      <p class="mt-5 ">Since November 2019 I have spent time learning things I never knew existed and then using the
         knowledge to build applications I  never imagined I could. I love writing code, and I 
         especially love writing code for the backend of software applications. Lately, 
         I have found my self itching to learn to write code for the frontend and then become 
         a fullstack developer. I come from a background in communications, and that makes me a 
         software developer who can effectively collaborate and develop better user focused programs. 
         Some of the exciting projects I have worked on include, a blog app that allows users write and
          manage their posts, an api that send  details of literature in Africa, a personal twitter bot
           that posts tweets relating to the endsars movement in Nigeria, and shopping app for caps and
            ofcourse this portfolio! One thing about me is I will learn!</p>
    </div>
  </div>
    <h1 class="mb-5"style="text-align: center; color: white;">Projects</h1>
    
    <div class="row" style="margin: auto;">
      <div class="col-lg-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card" >
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card" >
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
    </div>
     