<div class="container-fluid" style="margin-top: 2px;">
    <img src="images/pic2.jpg" width="200px" height="200px" style=" border-radius: 50%"> 
   
    <h1>Hello!</h1>
   
    <p style="font-weight: 600; font-size: 30px;">I am <span style="color: #ec524b;">Abimbola Bamgbelu.</span> <br> I'm a backend and aspiring fullstack developer</p>

  </div>

  <i class="far fa-circle first-circle" style="font-size: 20px;"></i>
    <i class="far fa-circle second-circle" style="font-size: 40px;"></i>
    <i class="far fa-circle third-circle" style="font-size: 30px;"></i>
    <i class="far fa-circle fourth-circle" style="font-size: 15px;"></i>
    <i class="far fa-circle fifth-circle" style="font-size: 10px;"></i>
    <i class="far fa-circle sixth-circle" style="font-size: 10px;"></i>