<div class="container-fluid " style="margin-top: 2px;">
    <img src="images/pic2.jpg" width="200px" height="200px" style=" border-radius: 50%"> 
    <h1 class="mt-3">Hello!</h1>
    <p style="font-weight: 600; font-size: 30px;">I'm  <span style="color: #ec524b;">Abimbola Bamgbelu.</span> <br> I'm a backend and aspiring fullstack developer</p>
    <a href="/abimbola/contact"><button type="button" class="btn mb-5" style="background-color: white; font-size: 20px; padding: 10px">Hire Me</button></a>
  </div>

  <i class="far fa-circle first-circle" style="font-size: 20px;"></i>
    <i class="far fa-circle second-circle" style="font-size: 40px;"></i>
    <i class="far fa-circle third-circle" style="font-size: 30px;"></i>
    <i class="far fa-circle fourth-circle" style="font-size: 15px;"></i>
    <i class="far fa-circle fifth-circle" style="font-size: 10px;"></i>
    <i class="far fa-circle sixth-circle" style="font-size: 10px;"></i>



    <!-- section for about me -->
<div class="container mt-5 about" style="background-color: #707070;  color: white;padding-left: 10%; padding-right: 10%; border-radius: 10px;">
    <div class="mb-5" style="padding-left: 2%; padding-right: 2%;  padding-top: 7%; padding-bottom: 5%; font-size: 20px;">
      <h1 class="mt-10">About Me</h1>
      <p class="mt-4 ">Since November 2019 I have spent time learning things I never knew existed and then using the
         knowledge to build applications I  never imagined I could. I love writing code, and I 
         especially love writing code for the backend of software applications.  <br><br> Lately, 
         I have found my self itching to learn to write code for the frontend and then become 
         a fullstack developer. I come from a background in communications, and that makes me a 
         software developer who can effectively collaborate and develop better user focused programs.<br> 
         <br>Some of the exciting projects I have worked on include, a blog app that allows users write and
          manage their posts, an api that send  details of literature in Africa, a personal twitter bot
           that posts tweets relating to the endsars movement in Nigeria, and shopping app for caps and
            ofcourse this portfolio! One thing about me is I will learn!</p>
    </div>
  </div>

  <!-- section for my projects -->
    <h1 class="mb-5"style="text-align: center; color: white;">Projects</h1>
    
    <div class="row" style="margin: auto;">
      <div class="col-lg-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Literature API</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text"> 
      <span style="background-color:  #fafcc2;">REST-API</span>
               <span style="background-color: #e6d5b8;">Express</span> 
               <span style="background-color: #f1d4d4;" >Node-js</span> 
               <span style="background-color:#ebebeb;">MongoDB</span>
    </p>
    <p>This API sends information such as title, name of author, year of publication and other details of literature in Africa</p>
    <a href="https://github.com/Abim-Bola/African-Literature" class="card-link"><i class="fab fa-github-square"></i></a>
    <a href="https://grapefruitblog.herokuapp.com/" class="card-link" style="font-size: 20px;"><i class="fas fa-link"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Blog App</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text"> 
              <span style="background-color:#ebebeb;">MongoDB</span>
               <span style="background-color: #e6d5b8;">Express</span> 
               <span style="background-color: #f1d4d4;" >Node-js</span> 
               <span style="background-color: #fafcc2;">Bootstrap</span>
              </p>
              <p>A blog app that allows users read, post and manage content in different categories.</p>
            <a href="https://github.com/Abim-Bola/NodeJs-Blog" class="card-link"><i class="fab fa-github-square"></i></a>
            <a href="https://grapefruitblog.herokuapp.com/" class="card-link" style="font-size: 20px;"><i class="fas fa-link"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card" >
          <div class="card-body">
            <h5 class="card-title">Shopping App</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text"> 
      <span style="background-color:#ebebeb;">MongoDB</span>
      <span style="background-color: #ccf6c8;">Express</span> 
      <span style="background-color: #f1d4d4;" >Node-js</span> 
      <span style="background-color: #fafcc2;">Bootstrap</span>
    </p>
    <p>A shopping app that allows users buy made in Nigeria caps from FilahCaps</p>
    <a href="https://github.com/Abim-Bola/FilahCaps" class="card-link"><i class="fab fa-github-square"></i></a>
    <a href="https://filahcaps.herokuapp.com/" class="card-link" style="font-size: 20px;"><i class="fas fa-link"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card" >
          <div class="card-body">
            <h5 class="card-title">Twitter-Bot</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">
      <span style="background-color: #ccf6c8;">Express</span> 
      <span style="background-color: #f1d4d4;" >Node-js</span> 
      <span style="background-color: #fafcc2;">Bootstrap</span>
    </p>
    <p>A personal twitter bot to post tweets about #Endsars in Nigeria. This is so I can continue to contribute relentlessly to the many voices amlplifying the movement</p>
    <a href="https://github.com/Abim-Bola/FilahCaps" class="card-link"><i class="fab fa-github-square"></i></a>
    <a href="https://filahcaps.herokuapp.com/" class="card-link" style="font-size: 20px;"><i class="fas fa-link"></i></a>
    
    
          </div>
        </div>
      </div>
    </div>

      <!-- section for contact -->

  <div style="text-align: center;" class="mt-5">
  <h1 style="color: white;">Contact Me</h1>
  <div class="mt-4">
  <a href="https://github.com/Abim-Bola" class="card-link"><i class="fab fa-github-square contact" ></i></a>
  <a href="https://twitter.com/Abim__Bola" class="card-link"><i class="fab fa-twitter contact"></i></a>
  <a href="https://abimbola.herokuapp.com/" class="card-link" ><i class="fas fa-link contact"></i></a>
  <a href="https://www.linkedin.com/in/abimbola-bamgbelu-b24202159/" class="card-link" "><i class="fab fa-linkedin contact"></i></a>
</div>
  
  
<form class="text-center p-5"  action="/abimbola/contact" method="post">
  <input  type="text" id="defaultSubscriptionFormPassword" class="form-control mb-4" placeholder="NAME" name="name">
  <input   type="email" id="defaultSubscriptionFormEmail" class="form-control mb-4" placeholder="EMAIL" name="email">
  <input   type="text" id="defaultSubscriptionFormEmail" class="form-control mb-4" placeholder="SUBJECT" name="subject">
  <textarea  type="text" id="defaultSubscriptionFormEmail" class="form-control mb-4" placeholder="MESSAGE" rows="4" cols="50" name="message"></textarea>
  <button class="btn  btn-block" style="background-color: white; font-weight: 600;" type="submit">SEND MESSAGE</button>
</form>  
 </div>