<h1 class="mb-5"style="text-align: center; color: white;">Projects</h1>
    
    <div class="row" style="margin: auto;">
      <div class="col-lg-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Literature API</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text"> 
      <span style="background-color:  #fafcc2;">REST-API</span>
               <span style="background-color: #e6d5b8;">Express</span> 
               <span style="background-color: #f1d4d4;" >Node-js</span> 
               <span style="background-color:#ebebeb;">MongoDB</span>
    </p>
    <p>This API sends information such as title, name of author, year of publication and other details of literature in Africa</p>
    <a href="https://github.com/Abim-Bola/African-Literature" class="card-link"><i class="fab fa-github-square"></i></a>
    <a href="https://grapefruitblog.herokuapp.com/" class="card-link" style="font-size: 20px;"><i class="fas fa-link"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Blog App</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text"> 
              <span style="background-color:#ebebeb;">MongoDB</span>
               <span style="background-color: #e6d5b8;">Express</span> 
               <span style="background-color: #f1d4d4;" >Node-js</span> 
               <span style="background-color: #fafcc2;">Bootstrap</span>
              </p>
              <p>A blog app that allows users read, post and manage content in different categories.</p>
            <a href="https://github.com/Abim-Bola/NodeJs-Blog" class="card-link"><i class="fab fa-github-square"></i></a>
            <a href="https://grapefruitblog.herokuapp.com/" class="card-link" style="font-size: 20px;"><i class="fas fa-link"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card" >
          <div class="card-body">
            <h5 class="card-title">Shopping App</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text"> 
      <span style="background-color:#ebebeb;">MongoDB</span>
      <span style="background-color: #ccf6c8;">Express</span> 
      <span style="background-color: #f1d4d4;" >Node-js</span> 
      <span style="background-color: #fafcc2;">Bootstrap</span>
    </p>
    <p>A shopping app that allows users buy made in Nigeria caps from FilahCaps</p>
    <a href="https://github.com/Abim-Bola/FilahCaps" class="card-link"><i class="fab fa-github-square"></i></a>
    <a href="https://filahcaps.herokuapp.com/" class="card-link" style="font-size: 20px;"><i class="fas fa-link"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card" >
          <div class="card-body">
            <h5 class="card-title">Twitter-Bot</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">
      <span style="background-color: #ccf6c8;">Express</span> 
      <span style="background-color: #f1d4d4;" >Node-js</span> 
      <span style="background-color: #fafcc2;">Bootstrap</span>
    </p>
    <p>A personal twitter bot to post tweets about #Endsars in Nigeria. This is so I can continue to contribute relentlessly to the many voices amlplifying the movement</p>
    <a href="https://github.com/Abim-Bola/FilahCaps" class="card-link"><i class="fab fa-github-square"></i></a>
    <a href="https://filahcaps.herokuapp.com/" class="card-link" style="font-size: 20px;"><i class="fas fa-link"></i></a>
    
    
          </div>
        </div>
      </div>
    </div>