<!-- Footer -->
<footer class="page-footer font-small blue">
    
       
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      <a href="https://mdbootstrap.com/" style="color: white;">Created by: Abimbola Bamgbelu</a> ||
      <a href="https://github.com/Abim-Bola" class="card-link"><i class="fab fa-github-square contact" style="font-size: 20px;" ></i></a>
      <a href="https://twitter.com/Abim__Bola" class="card-link"><i class="fab fa-twitter contact" style="font-size: 20px;"></i></a>
      <a href="https://abimbola.herokuapp.com/" class="card-link" ><i class="fas fa-link contact" style="font-size: 20px;"></i></a>
      <a href="https://www.linkedin.com/in/abimbola-bamgbelu-b24202159/" class="card-link" "><i class="fab fa-linkedin contact" style="font-size: 20px;"></i></a>
    
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->