<div style="background-color: #1c2b2d; color: white;">
        <ul>
           <li class="nav-item">
               Shop 
            </li>
            
            <li class="nav-item">
                close
            </li>
            <li class="nav-item">
                by
            </li>
        </ul>
</div>