<div style="background-color: #1c2b2d; color: white;">
        <ul>
           <a  class="menu-link" href="/"><li class="menu">
               Home
            </li></a>
            
           <a class="menu-link" href="/abimbola/about"> <li class="menu">
                About
            </li></a>

            <a  class="menu-link" href="/abimbola/Projects"><li class="menu">
              Projects          
            </li></a>

        </ul>
</div>